div{
    text-align: center;
}


body {
     display: block; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; background-image: url(Desktop\pngtree-creative-simple-background-wall-picture-image_371930.jpg); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-color: rgb(0, 255, 98);
    } 
    .container { 
     
    position : relative; 
    height: 500px; 
    left: 5px; 
    }
    .heder { 
    
    height: 500px; 
    width: 100%; 
    background-image: url(https://tse2.mm.bing.net/th?id-OIP.uBljcX9G8GrYPNXypimesQHaEo&pid-Api&P=0&w-290&h=18);
    background-size: 300px; 
    background-repeat: no-repeat; 
    border-bottom: 4px solid black; 
    padding-top: 50px; 
    font-size: 40px; 
    color: rgba(89, 0, 255, 0.719); text-shadow: aqua;
    }
    .btn {
        position: relative; 
        
    }
    button { 
        color: black; 
        font-weight: bold; 
        height: 40px; 
        width: 150px; 
        background-image: linear-gradient (whitesmoke); 
        border-radius: 10px; 
    } 


#data { 
    width: 99%; 
    height: 450px; 
    text-align: right; 
    justify-content: center;
     display: flex; 
}
    .table { 
        width: 800px;
    }
    table{
    
        color: rgb(57, 5, 53); 
        text-align: left;
        font-size: 18px; 
        font-family: Arial, Helvetica, sans-serif; 
        font: 700; 
        } 
        table tr :hover { 
        background-color: #AED581; 
        }
        I 
        img { 
        clip-path: circle(); 
        }
        .welcome { 
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
         color: rgb(115, 236, 39); 
        padding-top: 70px;
    }